<!doctype html>
<div class="clear-navbar container options-page">
  <div class="grey-fw-banner">
    <h1>Dexter infographics view</h1>
  </div>
  <br><br>
  <form action="/dexter/report" method="post">
    <label for="id">Load Dexter from ID<br><small>(eg 1fe21b88d1c3f61dbc883389234c70e7f0bad58fc29b5a7386b9fe9b7868003f)</small>
    <input type="text" name="id" id="id" val="">
    <input type="submit" val="Fetch">
  </form>
  <br><br>
  <h2>Dexter charts</h2>
  <ul>
    <li><a href="/info/d3_force">D3 force graph</a></li>
    <li><a href="/info/d3_concept">D3 concept graph</a></li>
    <li><a href="/info/any_node">Anychart node graph</a></li>
    <li><a href="/info/any_edge_graph">Anychart edge graph</a></li>
  </ul>
  <br><br>
  <h2>External charts</h2>
  <ul>
    <li><a href="http://www.findtheconversation.com/concept-map/">Concept map</a></li>
  </ul>
</div>
