<!doctype html>
<div class="clear-navbar container options-page">
  <div class="grey-fw-banner">
    <h1>Dexter infographics view</h1>
  </div>
  <br><br>
  <form action="/dexter/report" method="post">
    <label for="id">Load Dexter from ID<br><small>(eg 59490a6e8f526a9497b9b0c03d4fb0c7975307fb62d2af4a42c5e1bc133d07aa)</small>
    <input type="text" name="id" id="id" val="">
    <input type="submit" val="Fetch">
  </form>
  <br><br>
  <ul>
    <li><a href="/info/d3_force">D3 force graph</a></li>
    <li><a href="/info/any_node">Anychart node graph</a></li>
  </ul>
</div>
