<!doctype html>
<html>
<head>
    <title>Neovis.js Simple Example</title>
    <style type="text/css">
        html, body {
            font: 16pt arial;
        }

        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt arial;
        }

    </style>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
    // define config car
    // instantiate nodevis object
    // draw

    var viz;

    function draw() {
      // https://neo4j-contrib.github.io/neovis.js/interfaces/NeovisConfig.html
      // https://visjs.github.io/vis-network/docs/network/#options
      var config = {
        containerId: "viz",
        neo4j: {
          //XXX ugh... setup RO account
          serverUrl: "{{ url }}",
          serverUser: "{{ username }}",
          serverPassword: "{{ password }}",
          driverConfig: { 
            encrypted: "ENCRYPTION_ON",
            trust: "TRUST_SYSTEM_CA_SIGNED_CERTIFICATES"
          }
        },
        labels: {
          Page: {
            value: "size",
            group: "group",
            //mass: "mass"
          },
          Cluster: {
            label: "label",
            group: "label",
            value: 99,
            [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
              static: {
                shape: "text",
              }
            }
            //hidden: true,
            //mass: "mass"
          }
        },
        relationships: {
          IN_CLUSTER: {
            //physics: true,
            hidden: true,
          },
          LINK_TO: {
            physics: false,
            //hidden: true,
          },
        },
        visConfig: {
          nodes: {
            shape: "dot",
            scaling: {
              min: 0,
              max: 25,
              customScalingFunction:
function (min,max,total,value) {
  return 0;
  if (max === min) {
    return 0.5;
  }
  else {
    var scale = 1 / (max - min);
    return Math.max(0,(value - min)*scale);
  }
},
              label: {
                enabled: true,
                min: 8,
                max: 25,
                maxVisible: 18, //If set to 30, the font will never look larger than size 30 zoomed at 100%.
                drawThreshold: 9 //This defines a lower limit for when the font is drawn
              }
            },
            shadow: {
              enabled: true,
            }
          },
          edges: {
            color: {
              opacity: 0.2,
            },
            //hoverWidth: function (width) {return width*2;},
            //selectionWidth: function (width) {return width*3;},
            value: 0,
            scaling: {
              min: 0,
              max: 0,
              customScalingFunction:
function (min,max,total,value) {
  return 0;
  if (max === min) {
    return 0.5;
  }
  else {
    var scale = 1 / (max - min);
    return Math.max(0,(value - min)*scale);
  }
},
            },
          },
          physics: {
            stabilization: {
              iterations: 1000
            }
          },
          interaction:{
            dragNodes: false
          }
        },
        initialCypher: "MATCH (n:Page {page:1})-[i:IN_CLUSTER]->(c:Cluster), "+
          "(n)-[l:LINK_TO]->(m:Page {page:1}) "+
          "WITH n,i,l,c,m "+
          "WHERE (n)<--(m) AND n<>m "+
          "RETURN n,i,c,l"
        /*initialCypher: "MATCH (n:Page {page:1})-[e]->(m:Page {page:1}), "+
          "(n)-[r]->(g:Group) "+
          "WITH n, e, m, g "+
          "WHERE (n)<--(m) AND n<>m "+
          "SET n.size=n.backlinks^2, n.mass=n.backlinks^0.9 "+
          "RETURN n,e,g LIMIT 5000"*/
        /*initialCypher: "MATCH (n:Page {page:1})-[e]->(m:Page {page:1}), (n)<-[b]-(Page{page:1}) "+
          "WITH substring(n.path, 0, 12) AS community, count(b) AS backlinks, n, e, m "+
          "WHERE (n)<--(m) AND n<>m "+
          "SET n.size=backlinks^2, n.community=community, n.mass=backlinks^0.9 "+
          "RETURN n,e LIMIT 5000"*/
      };

      viz = new NeoVis.default(config);
      viz.render();

    }
    </script>
</head>
<body onload="draw()">
<div id="viz"></div>


Cypher query: <textarea rows="4" cols=50 id="cypher"></textarea><br>
<input type="submit" value="Submit" id="reload">
<input type="submit" value="Stabilize" id="stabilize">


</body>

<script>
  $("#reload").click(function () {
    var cypher = $("#cypher").val();
    if (cypher.length > 3) {
      viz.renderWithCypher(cypher);
    } else {
      console.log("reload");
      viz.reload();
    }
  });
  $("#stabilize").click(function () {
    viz.stabilize();
  })

</script>
</html>
