.grey-fw-banner {
    background-color: #f2f2f2;
    color: #273D78;
    overflow-x: hidden;
    position: relative;
}

.grey-fw-banner h1 {
    font-size: 2.5rem;
    margin-left: 36px;
}

.graph-display {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: underline;
  cursor: pointer;
  font-size:12px;
}

html,
body,
#mynetwork {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}
#mynetwork-container {
  float: none;
  overflow: hidden;
  min-height: 100vh;
  border-right: 1px solid lightgray;
  background: white;
  position: relative;
}
#mynetwork {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

#text {
  float: right;
  /*height: 100%;
  min-height: 100vh;*/
  min-height: 80vh;
  position: relative;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.text-fat {
  padding: 32px;
  width: 266px;
}

.text-thin {
  padding: 1em 0;
  width: 32px;
}

#chart-controls {
  margin-top:67px;
}

#settings-header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  position: absolute;
  left: 0;
}

.expand-horizontal {
  position: absolute;
  left: 9px;
  top: 50%;
  font-size: 32px;
  cursor: pointer;
  font-family: cursive;
}

#mynetwork div.vis-tooltip {
  color: #000000;
  background-color: #ffffff;
  background: white;
}

.distance-icon,
.user-icon,
.pseudo-toggle {
  display: inline-block;
  height: 22px;
  width:22px;
  cursor: pointer;
  margin-left: 12px;
}
.distance-icon,
.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height:36px;
  width:36px;
  border-radius: 50%;
  background-color: #165470;
  text-align: center;
  color: white;
  font-size: 22px;
  border: 4px solid white;
  -webkit-transition: border-color 300ms linear;
  -ms-transition: border-color 300ms linear;
  transition: border-color 300ms linear;
}
.distance-icon{
  background-color: #7aa2db;
}

.distance-switch-selected {
  border-color: #165470;
}
.pseudo-toggle {
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.red-button {
  border: 4px solid red;
  background-color: #ff0000ff;
}
.red-button.empty-toggle {
  background-color: #ff000000;
}

.amber-button {
  border: 4px solid orange;
  background-color: #ffa500ff;
}
.amber-button.empty-toggle {
  background-color: #ffa50000;
}

.yellow-button {
  border: 4px solid yellow;
  background-color: #ffff00ff;
}
.yellow-button.empty-toggle {
  background-color: #ffff0000;
}

.green-button {
  border: 4px solid green;
  background-color: #008000ff;
}
.green-button.empty-toggle {
  background-color: #00800000;
}


/****************************
Static results
****************************/

#staticnetwork {
  padding: 18px;
  /*height:100vh;*/
  color: #273D78;
  overflow-y: auto;
}

#staticnetwork hr{
  width: 88%;
}

.dexter-total-section {
  width: 500px;
}

.dexter-total-main-heading {
  font-size: 19px;
  font-weight: bold;
}

.dexter-total-heading {
  font-size: 17px;
  font-weight: bold;
}

.dexter-subtitle {
  font-size: 14px;
  white-space: initial;
  color: #273D78;
}

.dexter-total-section .pass {
  color: #33cd99;
}

.dexter-total-section .fail {
  color: #ee736d;
}

.static-results-table {
  width: 100%;
}

.static-results-table th {
  text-align: left;
}

/****************************
Generic slider
****************************/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/****************************
End slider
****************************/

/***************************
Loading spinner
***************************/

.loader {
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 4px solid #165470;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }

/***************************
End spinner
***************************/

/***************************
svg icons
***************************/

.settings-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M0 0h48v48h-48z' fill='none'/%3E%3Cpath d='M38.86 25.95c.08-.64.14-1.29.14-1.95s-.06-1.31-.14-1.95l4.23-3.31c.38-.3.49-.84.24-1.28l-4-6.93c-.25-.43-.77-.61-1.22-.43l-4.98 2.01c-1.03-.79-2.16-1.46-3.38-1.97l-.75-5.3c-.09-.47-.5-.84-1-.84h-8c-.5 0-.91.37-.99.84l-.75 5.3c-1.22.51-2.35 1.17-3.38 1.97l-4.98-2.01c-.45-.17-.97 0-1.22.43l-4 6.93c-.25.43-.14.97.24 1.28l4.22 3.31c-.08.64-.14 1.29-.14 1.95s.06 1.31.14 1.95l-4.22 3.31c-.38.3-.49.84-.24 1.28l4 6.93c.25.43.77.61 1.22.43l4.98-2.01c1.03.79 2.16 1.46 3.38 1.97l.75 5.3c.08.47.49.84.99.84h8c.5 0 .91-.37.99-.84l.75-5.3c1.22-.51 2.35-1.17 3.38-1.97l4.98 2.01c.45.17.97 0 1.22-.43l4-6.93c.25-.43.14-.97-.24-1.28l-4.22-3.31zm-14.86 5.05c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z'/%3E%3C/svg%3E%0A");
}

.settings-med {
  height: 32px;
  width: 32px;
  background-size: cover;
}
