<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style type="text/css">
      html, body, #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-graph.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>

  <div id='container-right'>
    <label for="distance">Distance from homepage:</label>
    <select id="distance" name="distance">
      <option value="0">0</option>
      <option value="1" selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br><br>
    <div id="info">
    </div>
  </div>

  <div id="container"></div>

<script>

anychart.onDocumentReady(function () {
  anychart.data.loadJsonFile(
    '/json/any/nodes',
    function (data) {
      var chart = anychart.graph(data);

      // enable chart nodes labels
      // Don't flask escape
      {% raw %}
      chart.nodes().labels().enabled(true);
      chart.nodes().labels().format("{%label}");
      chart.nodes().tooltip().useHtml(true);
      chart.nodes().tooltip().format(
        "<span style='font-weight:bold'>id: {%id} </span><br>" +
        "url: {%url}<br>" +
        "diags: {%diags}<br>" +
        "errors: {%errors}<br>" +
        "warnings: {%warnings}<br>"
      );
      chart.nodes().normal().height(40);
      //chart.edges().normal().stroke("#a0a0a0", 0);
      //chart.edges().hovered().stroke("#a0a0a0", 1);
      //chart.edges().selected().stroke("#a0a0a0", 1);
      {% endraw %}

      // set server group nodes settings
      var gDisabled = chart.group('disabled');
      var gGood = chart.group('good');
      var gWarning = chart.group('warning');
      var gError = chart.group('error');
      var gDiag = chart.group('diag');
      if (gDisabled) {
        gDisabled.fill('#EEEEEE');
      }
      if (gGood) { //sq
        gGood.fill('#0DA773');
        gGood.shape('square');
      }
      if (gWarning) { //tri
        gWarning.fill('#E5761E');
        gWarning.shape('triangle-up');
      }
      if (gError) { //circ
        gError.fill('#ED6A64');
        gError.shape('circle');
      }

      if (gDiag) { //circ
        gDiag.labels().enabled(false);
        gDiag.fill('#ED6A64');
        gDiag.shape('circle');
      }


      // enable edge arrows and set arrow size
      // XXX fix for direction
      // multi direction not possible, use arrows 'from' selected node
      //var arrows = chart.edges().arrows();
      //arrows.enabled(true);
      //arrows.size(8);

      // set container id for the chart
      chart.container('container');
      chart.layout().iterationCount(18);
      chart.draw();

      chart.listen("click", function(e) {
        console.log(e)
      })
    }
  );
});

</script>

</body>
</html>

