<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dexter graph</title>

    <style type="text/css">
      html,
      body,
      #mynetwork {
        margin: 0px;
        padding: 0px;
      }
      #mynetwork {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 10%;
        min-height: 100vh;
        border-right: 1px solid lightgray;
        background: white;
      }

      #text {
        position: absolute;
        left: 90%;
        padding: 1em;
      }

    </style>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="/static/script/vis-network.js"></script>

  </head>

  <body>
    <div id="text">
      <label for="distance">Distance from homepage:</label>
      <select name="distance" id="distance">
        <option value="1" selected="selected">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div id="mynetwork"></div>
    <script type="text/javascript">

var NODES = new vis.DataSet([])
var EDGES = new vis.DataSet([])

var container = document.getElementById("mynetwork")
var options = {
  physics: {
      stabilization: {
          enabled: true,
          iterations: 125, // maximum number of iteration to stabilize
          updateInterval: 10,
          onlyDynamicEdges: false,
          fit: true
      },
  },
  interaction:{
    hover: true,
    tooltipDelay: 30,
  },
  nodes: {
    color: {
      hover: {
        background: 'black',
        border: 'black',
      },
      border: '#EEEEEE',
    },
    borderWidth: 1,
    shape: 'dot',
    scaling: {
      min: 7,
      max: 11,
      label: {
        enabled: false,
        min: 8,
        max: 8,
      }
    },
  },
  edges: {
    smooth: false,
    color: {
      color: '#E1E1E1',
    },
  },
  groups: {
    ok: {
      color: {
        background: 'green',
      }
    },
    warning: {
      color: {
        background: 'orange',
      }
    },
    error: {
      label: '',
      color: {
        background: 'red',
      }
    },
    cluster: {
      font: '66px arial black',
      shape: 'box',
    }
  }
}

var data = {
  nodes: NODES,
  edges: EDGES,
}
var network = new vis.Network(container, data, options)

function redrawMain(nodes, edges) {
  NODES.clear()
  EDGES.clear()
  NODES.add(nodes)
  EDGES.add(edges)
  network.stabilize()
}

$(function() {

$("#distance").change(function() {
  var distance = $(this).val()
  var url = '/json/vis/pages/' + distance
  var jqxhr = $.get(url, function(data) {
    redrawMain(data.nodes, data.edges)
  })
})

var jqxhr = $.get('/json/vis/pages/1', function(data) {
  redrawMain(data.nodes, data.edges)
})

})

    </script>
  </body>
</html>
